<!-- bootystrappy -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<header>
  <nav class="navbar-fixed-top">
    <ul>
      <li><a class="nav-a" href="/">Home</a></li>
      <li><a id="btn-search" class="nav-a" href="#" class="drop-search">Search</a></li>
    <div class="sign">
      <% if(!locals.user){ %>
        <li style="float:right"><a class="active2" class="login" href="/login"">Login/Register</a></li>
      <% } else { %>
        <li><a href="/my-articles">My Articles</a></li>
        <li><a href="/newArticles">Add Articles</a></li>
        <li style="float:right"><a href="/profile">Profile</a></li>
        <li style="float:right">
          <a>
          <form method='POST' action='/logout' id='logout'>
          <input type="submit" class="active" value="Logout" class="btn btn-primary"></input>
          </form>
        </a>
        </li>
<!-- <a class="active" class="logout" href="#" method="POST" action='/logout'>Logout</a> -->
      <% } %>
    </div>
    </ul>
  </nav>
</header>
