.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
  padding-top: 1%;
  height: 100% !important;
}

.item {
  background-color: #f5f5f5;
}

.photothumb {
  width: 100%;
}

.title {
  padding: 1px;
}

.title h3 {
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}

.blog .title {
  background-color: #809bce;
  overflow-wrap: break-word;
}

.desc {
  padding: 10px 10px 5px 10px;
  overflow-wrap: break-word;
}

.desc img {
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}

.desc p {
  margin-bottom: 10px;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
  /* Hidden by default */
}
