.body {
  background: lemonchiffon;
}
.article {
  display: flex;
  flex-direction: column;
  padding-top: 3%;

  &__title-container {
    text-align: center;
    padding-left: 1rem;
  }

  &__title-header {
  }

  &__body-container {
    display: flex;
    justify-content: space-between;
  }

  &__imageRating{
    padding: 1rem 1rem;
    flex: 1;
  }

  &__image-container{

  }

  &__image{
    border-radius: 10px;
    width:100%;
  }

  &__rating-icons{
    margin-top: 1rem;
    font-size: 125%;
  }

  &__rating-icon {}

  &__descriptionUrl{
    padding: 0rem 1rem 1rem 1rem;
    flex: 1;
  }

  &__description-container{
    text-align: justify;
  }

  &__description{}

  &__url-container{}

  &__url{
    font-weight: 700;
    font-size: 125%;
  }

  &__url:link{
    text-decoration: none;
  }

  &__url:visited{
    text-decoration: none;
  }

  &__comment-container{
    padding: 1rem 1rem;
  }

  &__comments{

    @keyframes bounce {
      0%   { transform: translateY(-5px) }
      25%   { transform: translateY(0) }
      50%   { transform: translateY(5px) }
      50%   { transform: translateY(0px) }
      100% { transform: translateY(-5px) }
    }
  }

  &__comments-button{
    background: inherit;
    border: none;
    outline: none;
  }

  &__submission-text {
    font-weight: 700;
    font-size: 150%;
  }

  &__submission-icon{

    animation: bounce 1.5s infinite;
    color: red;
  }

  &__comments-container{
    margin-top: 2rem;
  }

  &__error-message{
    text-align: center;
    color: red;
    display: none;
    border: red solid 3px;
    width: 100%;
  }

  &__comments-form{}

  &__comment{

    background: transparent;
    border-bottom: 2px solid rgb(84,81,108);
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;

    &--submission{
      padding-top: 1rem;
      background: #4056A1;
      color: #FFFFFF;
      vertical-align: middle;
      display: inline-block;
      font-weight: 700;
      font-size: 125%;
      margin-top: 1rem;
      padding: 0.2rem 1rem;
      border-radius: 5px;
    }

    &--counter{
      padding-top: 1rem;
      font-weight: 700;
      font-size: 130%;
      float: right;
    }

  }

  ::placeholder {
    color: black;
    font-weight: 700;
  }
.star-rating {
    direction: rtl;
    display: inline-block;
    padding: 20px
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

}
